/* Background pattern from Toptal Subtle Patterns */
html
{
	width: 100%;
}

body
{
	cursor: default;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-image: url("img/bg.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h2
{
	font-weight: 900;
	margin: 10px 25px;
	font-size: 40px;
	color: black;
	line-height: 80px;
	text-align: center;
}

h3
{
	text-align: center;
}

a:-webkit-any-link
{
	color: #000;
	text-decoration: none;
}

a
{
	color: #000;
	text-decoration: none;
}

figure
{
	float: left;
	position: relative;
}

figure img
{
	border-radius: 50%;
}

img
{
	border-radius: 5px;
}

.logo
{
	width: 100%;
	text-align: center;
	font-weight: 900;
	padding: 18px 0;
	background-color: #151519;
	font-size: 45px;
	letter-spacing: 2px;
}

.logo img
{
	margin: 0 10px;
	height: 85px
}

.blue
{
	color: #1A2275;
}

.red
{
	color: #BD0003;
}

.container
{
	background-image: url('img/country-quilt.png');
	max-width: 680px;
	margin-left: auto;
	margin-right: auto;
}

.playerinfo
{
	background-color: rgba(0, 0, 0, 0.1);
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	position: relative;
}

.playerinfo h2
{
	float: left;
	font-size: 32px;
	color: #151519;
}

.playerinfo img
{
	float: left;
	width: 100px;
}

.playerlvl
{
	font-size: 25px;
	font-weight: 900;
	position: absolute;
	right: 20px;
	top: 66px;
}

.mastery
{
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.place
{
	font-weight: 900;
	color: #BD0003;
	margin-bottom: 10px;
	font-size: 24px;
	font-family: Verdana;
}

.place2
{
	margin-top: 100px;
}

.place3
{
	margin-top: 200px;
}

.lvl
{
	font-weight: 900;
	color: #1A2275;
	margin-top: 10px;
	font-size: 20px;
}

.overlay
{
	position: absolute;
	left: 0;
	top: 39px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #151519;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}

.overlay:hover
{
	opacity: 0.85;
}

.overlay .blue
{
	color: #3748f2;
}

.overlay .red
{
	color: #d6171a;
}

.oltext
{
	margin-top: 35px;
}

.matches
{
	background-color: rgba(0, 0, 0, 0.1);
	min-height: 100px;
	padding: 1px 0;
}

.match
{
	padding: 10px;
	margin: 20px 10px;
	background-color: rgba(0, 0, 0, 0.1);
	position: relative;
}
.match img
{
	float: left;
}

.matchtext
{
	float: left;
	width: 520px;
	font-weight: 900;
	text-align: center;
	font-size: 24px;
	margin-top: 26px;
}

.matchoverlay
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
	width: 665px;
	height: 120px;
	background-color: #151519;
	padding: 10px;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.matchoverlay:hover
{
	opacity: 0.95;
}

.moltext
{
	font-weight: 900;
	font-size: 40px;
	margin-top: 30px;
	width: 100%;
	text-align: center;
	
}

.footer
{
	width: 100%;
	padding: 10px 0;
	font-size: 15px;
	text-align: center;
	color: #fff;
	line-height: 23px;
	background-color: #040408;
}

/* Mobile Devices */
@media only screen and (max-width: 680px)
{
	body
	{
		background-image: none;
	}
	
	.logo img:first-child
	{
		display: none;
	}
	
	.playerinfo
	{
		padding: 30px 15px;
	}
	
	.playerinfo img
	{
		width: 70px;
	}
	
	.playerinfo h2
	{
		font-size: 17px;
		line-height: 50px;
		margin: 10px;
	}
	
	.playerlvl
	{
		font-size: 15px;
		top: 55px;
	}
	
	.mastery
	{
		width: 100%;
		padding: 10px 0;
	}
	
	h2
	{
		font-size: 26px;
	}
	
	figure
	{
		margin: 5px;
	}
	
	figure img
	{
		width: 70px;
	}
	
	.overlay
	{
		width: 70px;
		height: 70px;
	}
	
	.oltext
	{
		margin-top: 20px;
		font-size: 13px;
	}
	
	.places
	{
		width: 240px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.place, .lvl
	{
		font-size: 15px;
	}
	
	.match img
	{
		width: 70px;
	}
	
	.matchtext
	{
		width: calc(100% - 70px);
		font-size: 12px;
		margin-top: 16px;
	}
}

/*  Computers, Laptops, etc */
@media only screen and (min-width: 681px)
{
	.logo
	{
		padding-top: 5px;
	}
	
	.logo img:last-child
	{
		display: none;
	}
}